form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

table {
  font-size: 1.2rem;
  border-collapse: collapse;
}

td,
table,
th {
  border: 2px solid black;
}

td,
th {
  padding: 0.5em;
}
